<h2>Todo Form</h2>

<!-- In this case, we do not use (submit)="submitForm()" -->
<!-- Use (click) instead to do the form actions. -->
<form [formGroup]="todoForm">
    <table>
        <tr>
            <td>Description</td>
            <td>
                <input type="text" size="30" formControlName="description">
            </td>
        </tr>
        <tr>
            <td>Priority</td>
            <td>
                <label>
                    Low <input type="radio" size="30" formControlName="priority" value="Low">
                </label>
                <label>
                    Medium <input type="radio" size="30" formControlName="priority" value="Medium">
                </label>
                <label>
                    High <input type="radio" size="30" formControlName="priority" value="High">
                </label>
            </td>
        </tr>
        <tr>
            <td>Due Date</td>
            <td>
                <input type="date" size="30" formControlName="dueDate">
                <div *ngIf="todoForm.get('dueDate')?.hasError('futureDate')">
                    Please select a future date.
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <!-- In this case, not using a isTodoInvalid() method. -->
                <button type="button" (click)="submitForm()" [disabled]="cannotSubmitTodo()" >Add Todo</button>
                <!-- Alternative to using -> [disabled]="todoForm.invalid". The way we did above gives more customisation. -->
                <!-- Ensures that all validations are passed before allowing the user to press the button. -->
                <!-- This is how the slides show -->

                <button type="button" (click)="editForm()" [disabled]="cannotEditTodo()" >Update</button>
            </td>
        </tr>
    </table>
</form>